{% extends "base.html" %}

{% block title %}
  Reset - Lobo Multimarcas
{% endblock %}

{% block content %}
<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }

    .reset-container {
        max-width: 450px;
        margin: 100px auto;
        padding: 30px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .reset-container h2 {
        margin-bottom: 20px;
        color: #143d59;
    }

    .reset-container p {
        color: #6c757d;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .reset-container form {
        width: 100%;
        margin: 0;
    }

    .reset-container form input[type="email"] {
        width: calc(100% - 24px);
        padding: 12px;
        margin: 8px 0;
        border: 1px solid #143d59;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        background-color: #f8f9fa;
        transition: border-color 0.3s ease;
    }

    .reset-container form input[type="email"]:focus {
        outline: none;
        border-color: #f4b41a;
    }

    .reset-container form button {
        width: 100%;
        background-color: #143d59;
        color: #fff;
        border: none;
        padding: 12px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        margin-top: 10px;
    }

    .reset-container form button:hover {
        background-color: #143d59;
    }

    .reset-footer {
        margin-top: 20px;
        text-align: center;
        color: #f4b41a;
        font-size: 14px;
    }

    .reset-footer a {
        color: #143d59;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .reset-footer a:hover {
        color: #f4b41a;
    }
</style>

<div class="reset-container">
    <h2>Recuperar Senha</h2>
    <p>Por favor, insira seu endereço de email abaixo para receber um link de redefinição de senha.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.email }}
        <button type="submit">Enviar link de redefinição de senha</button>
    </form>
    <div class="reset-footer">
        <p><a href="{% url 'login' %}">Voltar ao Login</a></p>
    </div>
</div>

<style>
    main {
        margin-bottom: 50px;
    }
</style>
{% endblock %}
