{% extends "base.html" %}

{% block title %}
  Concluido - Lobo Multimarcas
{% endblock %}

{% block content %}
<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }

    .reset-container {
        max-width: 450px;
        margin: 100px auto;
        padding: 30px;
        background: rgba(20, 61, 89, 0.1); /* Cor clara para o fundo */
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .reset-container h2 {
        margin-bottom: 20px;
        color: #143d59; /* Azul para títulos */
    }

    .reset-container p {
        color: #6c757d;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .reset-container a {
        display: inline-block;
        margin-top: 20px;
        padding: 12px 30px;
        color: #fff; /* Texto branco */
        background-color: #143d59; /* Amarelo */
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .reset-container a:hover {
        background-color: #143d59; /* Tom mais escuro do amarelo */
    }

    .reset-footer {
        margin-top: 30px;
        color: #6c757d;
        font-size: 14px;
    }

    .reset-footer a {
        color:white; /* Amarelo */
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .reset-footer a:hover {
        color: #143d59; /* Tom mais escuro do amarelo */
    }
</style>

<div class="reset-container">
    <h2>Redefinição de Senha Solicitada</h2>
    <p>Se um endereço de email correspondente foi encontrado, um link para redefinir sua senha foi enviado. Por favor, verifique seu email.</p>
    <a href="{% url 'login' %}">Voltar ao Login</a>
    <div class="reset-footer">
        <p>Não recebeu o email? Verifique sua caixa de spam<a href="{% url 'password_reset' %}">Tente Novamente</a>.</p>
    </div>
</div>

<style>
    main {
        margin-bottom: 50px;
    }
</style>
{% endblock %}
