{% extends "base.html" %}

{block title}
    Complete - Lobo Multimarcas.
{endblock}

{% block content %}
<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f8f9fa; /* Fundo claro */
        margin: 0;
        padding: 0;
    }

    .login-container {
        max-width: 450px;
        margin: 100px auto;
        padding: 30px;
        background: #ffffff; /* Fundo branco */
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
        text-align: center;
    }

    .login-container h2 {
        margin-bottom: 20px;
        color: #143d59; /* Cor azul */
        font-size: 24px;
    }

    .login-container p {
        color: #6c757d;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .redirecting {
        margin-top: 20px;
        font-size: 14px;
        color: #143d59; /* Cor mais escura */
    }

    .redirecting a {
        color: #b88a20; /* Azul para link */
        text-decoration: underline;
    }
</style>

<div class="login-container">
    <h2>Senha Alterada</h2>
    <p>Sua senha foi alterada com sucesso.</p>
    <p class="redirecting">Você será redirecionado para a <a href="{% url 'login' %}">página de login</a> em 5 segundos.</p>
    
    <script>
        setTimeout(function() {
            window.location.href = "{% url 'login' %}";  // Redireciona para a URL nomeada 'login'
        }, 5000); // 5 segundos
    </script>
</div>
{% endblock %}
