{% extends "base.html" %}

{% block content %}
<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f8f9fa;
    }

    .register-container {
        max-width: 380px;
        margin: 100px auto;
        padding: 30px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }

    .register-container h2 {
        margin-bottom: 20px;
        text-align: center;
        color: #007bff;
    }

    .register-form {
        text-align: center;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: #333;
    }

    .form-group input[type="text"],
    .form-group input[type="password"],
    .form-group input[type="email"] {
        width: calc(100% - 24px);
        padding: 12px;
        margin: 8px 0;
        border: 1px solid #ced4da;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        background-color: #f8f9fa;
        transition: border-color 0.3s ease;
    }

    .form-group input[type="text"]:focus,
    .form-group input[type="password"]:focus,
    .form-group input[type="email"]:focus {
        outline: none;
        border-color: #007bff;
    }

    .form-group input[type="submit"] {
        width: 100%;
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 12px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .form-group input[type="submit"]:hover {
        background-color: #0056b3;
    }

    .register-footer {
        margin-top: 20px;
        text-align: center;
        color: #6c757d;
    }

    .register-footer a {
        color: #007bff;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .register-footer a:hover {
        color: #0056b3;
    }
</style>

<div class="register-container">
    <h2>Cadastro de Usuário</h2>
    <form method="post" class="register-form">
        {% csrf_token %}

        <div class="form-group">
            {{ user_form.username.errors }}
            <label for="{{ user_form.username.id_for_label }}">Usuário:</label>
            {{ user_form.username }}
        </div>

        <div class="form-group">
            {{ user_form.email.errors }}
            <label for="{{ user_form.email.id_for_label }}">Email:</label>
            {{ user_form.email }}
        </div>

        <div class="form-group">
            {{ user_form.confirm_email.errors }}
            <label for="{{ user_form.confirm_email.id_for_label }}">Confirmação de Email:</label>
            {{ user_form.confirm_email }}
        </div>

        <div class="form-group">
            {{ user_form.password1.errors }}
            <label for="{{ user_form.password1.id_for_label }}">Senha:</label>
            {{ user_form.password1 }}
        </div>

        <div class="form-group">
            {{ user_form.password2.errors }}
            <label for="{{ user_form.password2.id_for_label }}">Confirmação de Senha:</label>
            {{ user_form.password2 }}
        </div>

        <div class="form-group">
            <input type="submit" value="Cadastrar">
        </div>
    </form>
    <div class="register-footer">
        <p>Já possui uma conta? <a href="login" style="font-weight: bold;">Faça login agora</a></p>
    </div>
</div>

<style>
    main {
        margin-bottom: 50px;
    }
</style>
{% endblock %}
