body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0096c7;
    color: #fff;
    text-align: center;
}

footer {
    background-color: #ccc;
    color: #333;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center; /* Centering the nav bar items */
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centering the list items */
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #32bbe8;
}

nav ul li.active a {
    background-color: #666;
}

nav ul li.active a:hover {
    background-color: #999;
}
